header{
    background-color: rgb(200, 200, 200);
    padding: 10px;
    text-align: center;
    height: 100px;
}

h1{
    color: rgb(46, 48, 162);
    text-align: center;
}

.e{
    color: rgb(161, 42, 42);
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin: 20px;
}

.content{
    border: 2px solid black;
    padding: 10px;
    margin: 20px;
    background-color: #f0f0f0;
    height: 200px;
    width: 200px
}

.mousemove{
    border: 2px solid green;
    padding: 10px;
    margin: 20px;
    background-color: #e0ffe0;
    height: 150px;
    width: 300px;
}

#mouse-position{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.scroll{
    border: 2px solid blue;
    padding: 10px;
    margin: 20px;
    background-color: #e0e0ff;
    height: 1050px;
    width: 100px;
}

#scroll-position{
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}